<!doctype html>
<html lang="en-US">

<head>
	<meta charset="utf-8" />
	<title>Django Message Board</title>
</head>

<body>
	<!-- Submit a thread form -->
	<form action="{% url 'board:submit' %}" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>
				<h1>Create a thread</h1>
				{% if error_message %}
				<p><strong>{{ error_message }}</strong></p>
				{% endif %}
				<label>Title (optional)</label>
				<input type="text" name="title">
				<br />
				<label>Name (optional)</label>
				<input type="text" name="name">
				<br />
				<input type="text" name="post_text">
			</legend>
		</fieldset>
		<input type="submit" value="Create thread">
	</form>

	<br />
	{% if latest_thread_list %}
	<ul>
		{% for thread in latest_thread_list %}
		<li><a href="{% url 'board:thread' thread.id %}">{{ thread.post_text }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No threads are available.</p>
	{% endif %}

</body>

</html>
